.container {
  width: 100%;
  height: fit-content;
  padding: 0px 20px 0px 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  z-index: 1;
  position: relative;
}
.headerWrapper {
  width: 100%;
  padding: 24px 0px 48px;
  display: flex;
  flex-direction: column;
}
.contentWrapper {
}

.subtitle {
  text-align: left;
  font-size: 17px;
  line-height: 130%;
  width: 100%;
  margin-top: 8px;
  max-width: 625px;
}

.blogPostsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1232px;
}
.blogPostWrapper {
  padding: 36px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.blogPostContent {
 width: flex;
 max-width: 900px;
}
.arrowWrapper {
  position: relative;
  min-width: calc(((0.114 * (100vw - 40px)) * 0.97) - 14px);
  height: calc(((0.114 * (100vw - 40px)) * 0.97) - 14px);
  transition: 200ms ease all;

}
.fancyDivider {
  background-image: url("/starRed.png");
  background-repeat: repeat no-repeat;
  background-position: center left;
  background-size: 14px 9px;
  height: 9px;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .container {
    width: 100%;
    padding: 16px 40px 0px 40px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    z-index: 1;
  }
  .arrowWrapper {
    height: 39.58px;
    min-width: 39.58px;
  }
}
@media screen and (min-width: 900px) {
  .contentWrapper {
    padding: 32px 16px 24px;
    width: 100%;
    max-width: 1232px;
  }
}
