.wrapper {
  color: var(--background);
  display: flex;
  flex-direction: row;
  gap: 0px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.imageWrapper {
  aspect-ratio: 4/5;
  width: 60%;
  width: auto;
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* z-index: 1; */
  transition: 200ms ease-in all;
  min-height: 227px;
  height: calc(100% - 84px);
}
.titleLarge {
  font-family: "EditorialRegular" !important;
  font-weight: 400 !important;
  letter-spacing: -0.025em !important;
  font-size: calc(0.171 * (100vw - 40px));
  line-height: 97%;
}
.title {
  font-family: "EditorialRegular" !important;
  font-weight: 400 !important;
  letter-spacing: -0.025em !important;
  text-align: left;
  width: 100%;
  line-height: 97%;
  font-size: calc(0.171 * (100vw - 40px));
}
.subtitle {
  text-align: left;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 130%;
  width: 75%;
  margin-top: 4px;
  width: 50%;
  min-width: 150px;
}
.content {
  width: 100%;
  margin-bottom: 80px;
  z-index: 1;
  text-shadow: 0px 0px 8px rgba(175, 25, 16, 1),
    0px 0px 24px rgba(175, 25, 16, 1);
}
.readMore {
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 19px;
}
.readMore img {
  margin-bottom: -3.5px;
}
@media screen and (min-width: 550px) {
  .titleLarge {
    font-family: "EditorialRegular" !important;
    font-weight: 400 !important;
    letter-spacing: -0.025em !important;
    font-size: calc(0.171 * (100vw - 80px));
    line-height: 97%;
  }
  .wrapper {
    padding-top: 0px;
    margin-top: 48px;
    padding-bottom: 0px;
    margin-bottom: 32px;
  }
  .content {
    width: calc(100% - 5vw);
    margin-bottom: 80px;
    z-index: 1;
    text-shadow: 0px 0px 8px rgba(175, 25, 16, 1),
      0px 0px 24px rgba(175, 25, 16, 1);
  }
  .title {
    font-size: 87px;
    text-align: left;
  }
  .imageWrapper {
    aspect-ratio: 4/5;
    width: 60%;
    width: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* z-index: 1; */
    transition: 200ms ease-in all;
    min-height: 227px;
    height: calc(100%);
  }
  .readMore {
    opacity: 1;
    transition: 100ms ease-in all;
  }
  .readMore:hover {
    opacity: 0.6;
    transition: 100ms ease-out all;
  }
  .wrapper:hover .imageWrapper {
    transform: rotate(3deg);
    transition: 200ms ease-out all;
  }
}

@media screen and (min-width: 900px) {
  .title {
    font-size: calc(0.144 * (50vw - 130px));
    text-align: left;
  }
  .wrapper {
    padding-top: 48px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    margin-top: 0px;
    color: var(--background);
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    position: relative;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: -8px;
    min-height: 100%;
  }
  .imageWrapper {
    height: calc(100% - 42px);
    margin-right: 16px;
  }
}
