.wrapper {
  color: var(--background);
  flex-direction: column;
  gap: 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0px 20px;
  /* width: calc((100% / 2) - 10px); */
  text-shadow: 0px 0px 8px rgba(175, 25, 16, 1),
    0px 0px 24px rgba(175, 25, 16, 1);
  text-align: center;
  cursor: pointer;
}
.imageWrapper {
  aspect-ratio: 4/5;
  width: 75%;
  height: auto;
  transition: 200ms ease-in all;
  position: relative;
}

.subtitle {
  text-align: center;
  font-size: 15px;
  line-height: 130%;
  margin-top: 2px;
  width: 100%;
}
.content {
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.readMore {
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 17px;
  margin-top: 16px;
}
.readMore img {
  margin-bottom: -3px;
}
@media screen and (min-width: 550px) {
  .title {
    font-size: 87px;
    text-align: center;
  }
  .wrapper:hover .imageWrapper {
    transform: rotate(3deg);
    transition: 200ms ease-out all;
  }
  .readMore {
    opacity: 1;
    transition: 100ms ease-in all;
  }
  .readMore:hover {
    opacity: 0.6;
    transition: 100ms ease-out all;
  }
}
