@media screen and (max-width: 386px) {
  .contentBottom {
    aspect-ratio: 1/1;
  }
}

.container {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 60px);
  padding: 24px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1280px;
  position: relative;
  overflow: hidden;
}

.contentTop {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.contentBottom {
  margin-top: -9vw;
  max-height: calc(100% + 9vw);
  height: calc(100% + 9vw);
  flex: 1;
  max-width: none;
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.image {
  position: relative;
  aspect-ratio: 1/1;
  min-width: 100%;
  width: auto;
  height: 100%;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: center;
}

.title,
.titleTop,
.titleBottom {
  text-align: center;
  line-height: 97%;
}

.title {
  font-family: "EditorialRegular" !important;
  font-weight: 400 !important;
  letter-spacing: -0.025em !important;
  font-size: calc(0.19 * (100vw - 40px));
}

.titleBottom {
  font-style: italic;
  font-family: "EditorialItalic" !important;
  letter-spacing: -0.025em !important;
}

.subtitle {
  text-align: center;
  margin-bottom: 32px;
  font-size: 17px;
  line-height: 130%;
  width: calc(100% - 32px);
  max-width: 310px;
}

.button {
  border: 2px solid var(--primary);
  border-radius: 1000px;
  display: inline-flex;
  padding: 16px;
  width: 100%;
  max-width: 320px;
  min-width: 256px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--background);
  box-shadow: 0px 2px 0px 0px var(--primary);
  font-size: 21px;
  font-style: italic;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  transition: 100ms ease-in all;
  flex-wrap: nowrap;
}

@media screen and (min-width: 550px) {
  .button:hover {
    background-color: var(--primary);
    color: var(--background);
    transition: 100ms ease-out all;
  }
  .container {
    padding: 32px 40px;
    padding-bottom: 0px;
  }
  .title {
    font-size: 97px;
  }
  .sutitle {
    max-width: 450px;
  }
  .titleWrapper {
    display: none;
  }
  .titleWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .contentBottom {
    margin-top: -49px;
    min-width: 500px;
    width: 500px;
    max-width: 500px;
    min-height: 500px;
    height: 500px;
    max-height: 500px;
  }
  .image {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 900px) {
  .title {
    font-size: calc(0.16 * (60vw - 40px));
  }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
  }
  .titleTop,
  .titleBottom {
    text-align: left;
  }
  .container {
    flex-direction: row;
    min-height: 0px;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 0px;
    max-height: none;
    overflow: visible;
  }
  .contentTop {
    width: 60%;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    padding-bottom: 92px;
    min-height: calc(100vh - 70px);
  }
  .contentBottom {
    aspect-ratio: none;
    position: relative;
    margin-top: 0px;
    margin-left: -12.5vw;
    margin-right: -3vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 50%;
    width: auto;
    max-width: auto;
    min-height: 695.25px;
    height: calc(100vh - 70px);
    max-height: none;
  }
  .image {
    aspect-ratio: 1/1;
    min-height: calc(100vh - 70px);
    height: 100%;
    max-height: 100%;
    min-width: auto;
    width: auto;
    max-width: none;
  }
  .subtitle {
    text-align: left;
    padding: 0;
    width: calc(100% - 12.5vw);
    max-width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 116px;
  }
}
