.container {
  width: 100%;
  height: fit-content;
  padding: 16px 20px 24px 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-top: -16px;
  z-index: 1;
  position: relative;
}
.titleWrapper {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title {
  font-size: 18px;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--primary);
  text-transform: uppercase;
}
.divider {
  height: 2px;
  background: var(--primary);
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px 0px 32px 0px;
}

.serviceWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 24px 0px;
  width: 100%;
}
.displayTitle {
  text-align: left;
  line-height: 97%;
  font-family: "EditorialRegular" !important;
  font-weight: 400 !important;
  letter-spacing: -0.025em !important;
  font-size: calc(0.121 * (100vw - 40px));
}
.displayTitleItalic {
  text-align: left;
  line-height: 97%;
  font-style: italic;
  font-family: "EditorialItalic" !important;
  font-weight: 400 !important;
  letter-spacing: -0.025em !important;
  font-size: calc(0.121 * (100vw - 40px));
}
.serviceDescrption {
  text-align: left;
  font-size: 17px;
  line-height: 130%;
  width: 100%;
  max-width: 450px;
  margin-top: 4px;
}
.fancyDivider {
  background-image: url("/starRed.png");
  background-repeat: repeat no-repeat;
  background-position: center left;
  background-size: 14px 9px;
  height: 9px;
  width: 100%;
}
.readMoreLink {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.02em;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.serviceContentWrapper {
  height: fit-content;
  /* border: 1px solid blue; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.displayTitleImageWrapper {
  position: relative;
  height: calc(((0.121 * (100vw - 40px)) * 0.97) - 14px);
  margin-top: 4px;
  aspect-ratio: 1 / 1;
  /* border: 1px solid blue; */
}
@media screen and (min-width: 550px) {
  .container {
    width: 100%;
    padding: 16px 40px 32px 40px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-top: -16px;
    z-index: 1;
  }
}
@media screen and (min-width: 900px) {
  .contentWrapper {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    width: 100%;
    gap: 40px;
    margin: 32px 0px;
    height: fit-content;
    position: relative;
  }
}
