.subtitle {
  font-style: italic;
  font-family: "EditorialItalic" !important;
  letter-spacing: -0.025em !important;
  line-height: 115%;
  font-size: 40px;
  margin-top: 16px;
  width: 100%;
  text-align: left;
}
.richtext__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 8px;
  position: relative;
  height: fit-content;
  max-width: 695px;
}
.imageWrapper__desktop {
  position: relative;
  width: 100%;
  padding-top: 66.67%;
  overflow: hidden;
  display: none;
}
.content__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  height: fit-content;
}
.content__wrapper p {
  width: 100%;
  font-size: 17px;
  line-height: 145%;
  height: fit-content;
}
.content__wrapper b {
  /* box-shadow: inset 0 -0.5em 0 0 var(--primary);
  font-style: normal; */
  font-weight: 600;
  letter-spacing: -0.02em;
}
.content__wrapper h4 {
  width: 100%;
  font-size: 17px;
  line-height: 130%;
  height: fit-content;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.content__wrapper u {
  text-decoration-thickness: 0.1em;
  transition: 200ms ease-in all;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--primary);
  text-underline-offset: 3px;
  transition: 200ms ease-in all;
}
.content__wrapper u:hover {
  transition: 200ms ease-out all;
  opacity: 0.6;
}
.content__wrapper li {
  margin-bottom: 17px;
}
.content__wrapper ol,
.content__wrapper ul {
  list-style-position: outside;
  padding-left: 20px;
}

.content__wrapper li::marker {
  font-weight: 600;
}
.content__image__wrapper {
  position: relative;
  width: calc((100% - 8px) / 2);
  aspect-ratio: 3/2;
  overflow: hidden;
  background: white;
  margin: 12px 0px;
}
.content__image__wrapper img {
  width: 100% !important;
  height: auto !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@media screen and (max-width: 500px) {
  .content__image__wrapper + .content__image__wrapper {
    width: calc(100%);
    margin-top: -8px;
  }
  .content__image__wrapper {
    width: calc(100%);
  }
}
